# =============================================================
# Variables d'environnement pour le développement local
# =============================================================
# Renommer ce fichier en .env pour l'utiliser
# En production (Kubernetes), ces valeurs ne sont pas nécessaires
# car les noms DNS internes sont utilisés par défaut

VITE_PRODUCT_SERVICE_URL=http://192.168.81.161:3001
VITE_CART_SERVICE_URL=http://192.168.81.161:3002
VITE_ORDER_SERVICE_URL=http://192.168.81.161:3003
